*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle-user/
.kotlin/
.vs/
_diploma_tmp/
docx_replace/
docx_work/
report_diagrams/
chapter1_extract.txt
chapter2_extract.txt
chapter6_bzhd_workouttracker.md
full_doc_extract.txt
pp_dyachenko.docx
tmp_pp_dyachenko.docx
